<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
  {% block head %}
  <!-- Tailwind and Flowbite-->
  {% block tailwind_n_flowbite %}
  <link href="./static/css/output.css" rel="stylesheet" />
  {% endblock tailwind_n_flowbite%}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{{ SITENAME|striptags }}{% endblock title %}</title>
  {% if SITESUBTITLE %}
  <meta name="description" content="{{ SITESUBTITLE }}" />
  {% endif %} {% endblock head %} {% block head_scripts %}{% endblock
  head_scripts %} {% block style %} {% endblock style %}
</head>

<body class="text-text bg-bg">
  {% block body %}
  <header>
    {% block header %} {% endblock header %} {% block nav %}
    <div class="text-center m-4">
      <a href="{{ SITEURL }}/blogs.html">
        <h1 class="text-5xl md:text-6xl underline font-extrabold decoration-accent">
          Raf's Blogs
        </h1>
      </a>
      <nav class="bg-accent/10 mt-16 mb-12 ml-1 md:ml-25 mr-1 md:mr-25 p-4 rounded-xl">
        <div class="inline-flex rounded-md shadow-xs">
          <a href="{{ SITEURL }}/"
            class="px-4 py-2 text-sm font-medium bg-bg/50 border border-accent/50 rounded-s-lg hover:bg-accent hover:text-bg focus:z-10 focus:ring-1 focus:ring-accent">
            Raf
          </a>
          <!-- class="px-4 py-2 text-sm font-medium bg-surface/50 border-t border-b border-persian-red/50 hover:bg-night focus:z-10 focus:ring-1 focus:ring-persian-red" -->
          <a href="{{ SITEURL }}/pages/contact.html"
            class="px-4 py-2 text-sm font-medium bg-bg/50 border-t border-b border-accent/50 hover:bg-accent hover:text-bg focus:z-10 focus:ring-1 focus:ring-accent">
            Contact
          </a>
          <a href="{{ SITEURL }}/blogs.html"
            class="px-4 py-2 text-sm font-medium bg-bg/50 border border-accent/50 rounded-e-lg hover:bg-accent hover:text-bg focus:z-10 focus:ring-1 focus:ring-accent">
            Blogs
          </a>
          <!-- <a
              href="#"
              class="px-4 py-2 text-sm font-medium bg-surface/50 border border-persian-red/50 rounded-e-lg hover:bg-night focus:z-10 focus:ring-1 focus:ring-persian-red">
              Messages
            </a> -->
        </div>
      </nav>
    </div>
    {% endblock nav %}
  </header>
  <main class="text-justify">{% block content %} {% endblock content %}</main>
  {% endblock body %} {% block script %} {% endblock script %}
  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>

</html>