{% extends "base.html" %} {% block content %}
<section class="ml-6 md:ml-21 mr-6 md:mr-21">
  {% for article in articles_page.object_list %}
  <div class="rounded-lg p-8 m-8 bg-eerie-black">
    <div class="flex flex-col md:flex-row gap-8 md:gap-12">
      {% if article.coverimage %}
      <div class="md:flex-1">
        <!-- outer inset border for the image area -->

        <!-- inner rounded panel (like the inner rounded corner in the sketch) -->
        <div
          class="w-full h-100 rounded-[18px] bg-white flex items-center justify-center overflow-hidden">
          <!-- replace with <img src="..." class="w-full h-full object-cover"> -->
          <img
            class="w-full h-full object-cover object-center transform-gpu transition-transform duration-300 ease-out scale-[1.06] hover:scale-[1.00] origin-center motion-reduce:transition-none motion-reduce:transform-none"
            src="{{ article.coverimage }}"
            alt="" />
        </div>
      </div>
      {% else %} {% endif %}
      <div class="md:flex-1 flex flex-col justify-between">
        <div>
          <h1 class="text-4xl md:text-5xl font-extrabold tracking-wide mb-6">
            {{ article.title }}
          </h1>

          <div class="space-y-3">
            <div class="flex items-center gap-4">
              <section class="font-medium">{{ article.summary }}</section>
            </div>
          </div>
        </div>

        <div class="mt-6 flex justify-end">
          <a href="{{ SITEURL }}/blog/{{ article.url }}">
            <button
              class="px-5 py-2 rounded-xl border-1 border-persian-red hover:border-sea-green text-lg font-medium shadow-sm hover:bg-sea-green transition"
              type="button">
              Read More
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>

{% endblock content %}
