@import "tailwindcss";
@import "flowbite/src/themes/default";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wdth,wght@0,75..100,100..700;1,75..100,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@plugin "flowbite/plugin";

@source "../../templates/*.html";
@source "../../../node_modules/flowbite";

@theme {
    --color-platinum: #DFDFE2;
    --color-night: #141414;
    --color-eerie-black: #1F1F1F;
    --color-persian-red: #BB4430;
    --color-sea-green: #5B8C5A;
    --color-surface: #16130b;
    --color-on-surface: #e9e2d4;
    --color-primary: #dfc56d;
    --color-on-tertiary: #173721;
    --color-on-primary: #3b2f00;
    --color-on-surface-var: #cec6b4;
    --color-surf-container-lowest: #100e07;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* regular */
  font-size: 1rem; /* adjust to taste */
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600; /* or 700 for extra punch */
  letter-spacing: -0.02em;
  margin: 1.2em 0 0.6em;
}

/* label, button {
  font-family: 'Inter', sans-serif;
  font-weight: 500; 
  font-size: 0.875rem; 
  text-transform: uppercase; 
} */